#equinox .illustration {
  display: block;
  position: relative;
  width: auto;
  height: 90%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%); }

#equinox .hover {
  width: 100%;
  height: 100%;
  animation: hover 5s ease-in-out infinite;
  animation-fill-mode: forwards; }

#equinox .number-one {
  transform: translateY(-10px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-10 5028ms ease-in-out infinite;
  animation-fill-mode: forwards; }

#equinox .number-two {
  transform: translateY(-20px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-20 5869ms ease-in-out infinite;
  animation-delay: 2299ms;
  animation-fill-mode: forwards; }

#equinox .number-three {
  transform: translateY(-30px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-30 3877ms ease-in-out infinite;
  animation-delay: 3408ms;
  animation-fill-mode: forwards; }

#equinox .number-four {
  transform: translateY(-50px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-50 4237ms ease-in-out infinite;
  animation-delay: 2056ms;
  animation-fill-mode: forwards; }

#equinox .number-five {
  transform: translateY(-60px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-60 4097ms ease-in-out infinite;
  animation-delay: 3128ms;
  animation-fill-mode: forwards; }

#equinox .number-six {
  transform: translateY(-70px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-70 2140ms ease-in-out infinite;
  animation-delay: 5301ms;
  animation-fill-mode: forwards; }

#equinox .number-seven {
  transform: translateY(-80px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-80 2491ms ease-in-out infinite;
  animation-delay: 1034ms;
  animation-fill-mode: forwards; }

#equinox .number-eight {
  transform: translateY(-90px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-90 4938ms ease-in-out infinite;
  animation-delay: 2918ms;
  animation-fill-mode: forwards; }

#equinox .number-nine {
  transform: translateY(-100px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-100 3208ms ease-in-out infinite;
  animation-delay: 687ms;
  animation-fill-mode: forwards; }

#equinox .number-ten {
  transform: translateY(-110px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-110 2400ms ease-in-out infinite;
  animation-delay: 2043ms;
  animation-fill-mode: forwards; }

#equinox .number-eleven {
  transform: translateY(-120px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-120 2340ms ease-in-out infinite;
  animation-delay: 2442ms;
  animation-fill-mode: forwards; }

#equinox .number-twelve {
  transform: translateY(-150px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-150 5933ms ease-in-out infinite;
  animation-delay: 637ms;
  animation-fill-mode: forwards; }

#equinox .number-thirteen {
  transform: translateY(-160px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-160 4931ms ease-in-out infinite;
  animation-delay: 4138ms;
  animation-fill-mode: forwards; }

@keyframes hover {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-3px); }
  75% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0); } }
@keyframes fadeNumberDown-10 {
  0% {
    transform: translateY(-10px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-20 {
  0% {
    transform: translateY(-20px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-30 {
  0% {
    transform: translateY(-30px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(130px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-50 {
  0% {
    transform: translateY(-50px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(110px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-60 {
  0% {
    transform: translateY(-60px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(90px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-70 {
  0% {
    transform: translateY(-70px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-80 {
  0% {
    transform: translateY(-80px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-90 {
  0% {
    transform: translateY(-90px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-100 {
  0% {
    transform: translateY(-100px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-110 {
  0% {
    transform: translateY(-110px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(30px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-120 {
  0% {
    transform: translateY(-120px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(20px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-150 {
  0% {
    transform: translateY(-150px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0; } }
@keyframes fadeNumberDown-160 {
  0% {
    transform: translateY(-160px) translateZ(0);
    opacity: 0; }
  40% {
    opacity: 0.4; }
  60% {
    opacity: 0.4; }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0; } }

/*# sourceMappingURL=bitsbybits.css.map */
